ion-card {
    padding-top: 1.5rem;
    box-shadow: 2px 11px 7px 1px rgba(24, 56, 82, 0.411) ;
    border-radius: 30px;
}

ion-card-title {
    margin-top: 20px;
}

.card-new-comi{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    ;
}

.card-domi{
    margin: 1rem;
    width: 90%;
    // height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem; 
    // background-color: #f9f9f9;
    border-radius: 16px;
    // padding-top: 3%;
    
}
@media (max-witdh: 400px) {
    
    .card-domi {
        width: none;
        padding: 0.5rem;
    }
}


.edit-client-form{
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    // background-color: #f9f9f9;
    border-radius: 8px;
}


.ion-padding-top{
    padding: 10px;
    gap: 1rem;
}