<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Actualizar Cliente</ion-title>
    
  
  </ion-toolbar>
</ion-header>






<ion-content class="ion-padding">

  <div class="container" >

    
  <ion-card class="edit-client-form" > 

    
    
  
  <form (ngSubmit)="updateClient()">
    <ion-item>
      <ion-label position="floating">Nombre del Cliente</ion-label>
      <ion-input [(ngModel)]="clientData.client_name" name="client_name" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="clientData.phone" name="phone" type="tel"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input [(ngModel)]="clientData.address" 
                  name="address" 
                  type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Número de cuenta</ion-label>
      <ion-input [(ngModel)]="clientData.account_number"
                 name="account_number"
                 type="number"></ion-input>
    </ion-item>
    

    <ion-item>
      <ion-label position="floating">Banco</ion-label>
      <ion-input [(ngModel)]="clientData.bank"
                 name="bank"
                 type="text"></ion-input>
    </ion-item>
    

    <ion-item>
      
      <ion-select label="Tipo de Cuenta"
                 [(ngModel)]="clientData.account_type"
                 name="account_type"
                 value="tipo_cuenta" 
                 multiple="false" 
                 placeholder="Ahorro">
        <ion-select-option value={{ahorro}}>Ahorro</ion-select-option>
        <ion-select-option value={{corriente}}>Corriente</ion-select-option>
      </ion-select>
      
    </ion-item>
    
    
    
    
    <div class="ion-padding-top">
      <ion-button expand="block" type="submit">Actualizar Cliente</ion-button>
    </div>
  </form>

</ion-card>

</div>
</ion-content>